@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Questrial&display=swap');

body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color: #ffffff;
}

.login-container input {
  width: 320px;
  padding: 14px 20px;
  border-radius: 40px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  color: #000 !important;               
  background: #fff !important;
  -webkit-text-fill-color: #000;
}

.login-container input::placeholder {
  color: #aaa;
}

.inputs-label {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputs-label label {
  display: none; 
}