@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    display: flex;
    margin: 25px auto;
    width: 100vw; 
    background-color: #ffffff; /* Cor de fundo da página */
}

.container {
    width: 270%; 
    max-width: 1200px; 
    padding: 20px;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    margin: 0 auto; 
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 13px 13px 0px 0px;
    background-color: #2a8fe6;
    font-weight: 500;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.tab-btn.active {
    background-color: white;
    color: #333;
    transition: background 0.3s ease;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
}

.tab-btn:hover {
    background-color: #ffffff;
    color: #333;
    border-top: 1px solid #a6a6a6;
    transition: background 0.3s ease;
}

.content {
    display: none;
    min-height: 300px; 
}

#aba1 {
    padding: 12px;
}

#aba1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#aba1 li {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 9px;
    color: black;
    display: flex;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #ffffff;
    border-bottom: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}